{% extends 'base.html.twig' %}
{% set listanime = anime %}

         {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}

{% block body_home %}

    {# ajouter un formulaire #}
    <div class="container">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.nom) }}
        </div>
        
        <input type="submit" value="Send" />
        {{ form_end(form) }}
    </div>

    {# ajouter un flashbag, oublie pas aussi dans le controller #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <br />
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
{% endblock %}