{% extends 'native.html.twig' %}
{% set message = message %}
{% set listanime = anime %}


{% block body_home %}

    {% block stylesheets %}
            {{ parent() }}
    {% endblock %}

    {% for request in req %}
        <li><a class="nav-item" href="">{{request.id}} | {{ request.groupe.nom }} | {{ request.member.username }}</a></li>
        <form method="POST">
            <button name="accept" type="submit" value="{{request.id}}">Accepter</button>
            <button name="reject" type="submit" value="{{request.id}}">Rejeter</button>
        </form>
    {% endfor %}


{% endblock %}