{% extends 'base.html.twig' %}

 {#
 <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 #}

{% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <i class="far fa-address-book"></i>
            #}
{% endblock %}

{% block body_home %}

<div class="row">

{% for article in listarticle %}
    <div class="col">
        <div class="card" style="background-color:#ccccff; margin-top: 10px;">
            <img src="{{ article.anime.image }}" style="max-width: 200px" class="img-fluid rounded mx-auto" alt="...">  
            <div class="card-body" style="text-align:center;">
                <h4 class="card-title">
                    <a class="nav-item" href="{{ path('Anime', { 'id': article.anime.id , 'ep': article.episode }) }}">{{ article.nom }} {{ article.episode }}</a>
               </h4>
                <p class="card-text"><a style="padding: 10px;">{{ article.date|date("m/d/Y") }}</a></p>
                <a href="{{ path('Anime', { 'id': article.anime.id , 'ep': article.episode }) }}" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
    <br />
    <tfoot>
        <tr>
            <td colspan="2">
                {{ pagination(listarticle, 'page') }}
            </td>
        </tr>
    </tfoot>

{% endblock %}
