{% extends 'base.html.twig' %}

 {#
 <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 #}

{% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <i class="far fa-address-book"></i>
            #}
        {% endblock %}

{% block body_home %}

<div class="row">

{% for article in listarticle %}
    <div class="col">
    <p>
      <img src="{{ article.anime.image }}" width="200" height="100" class="rounded mx-auto" alt="...">  
      
      <a class="nav-item" href="{{ path('Anime') }}/{{ article.anime.id }}">{{ article.nom }} {{ article.episode }}</a>
      <a style="padding: 10px;">{{ article.date|date("m/d/Y") }}</a>
    </p>
    </div>
  {% endfor %}
    </div>
  <tfoot>
        <tr>
            <td colspan="2">
                {{ pagination(listarticle, 'page') }}
            </td>
        </tr>
    </tfoot>

{% endblock %}
