{% extends 'native.html.twig' %}
{% set message = message %}
{% set listanime = anime %}


{% block body_home %}

    {% block stylesheets %}
            {{ parent() }}
    {% endblock %}
    <style>
            .box-header{
            }
            .c-project-card__meta {
                display: inline-block;
            }
    </style>
    <div class="box-header" style="min-height: 300px;background-image: url('{{ random([asset('img/background/header-home.png'), asset('img/background/header-home1.png'), asset('img/background/header-home2.png')]) }}');background-size: cover;background-repeat:no-repeat;">
    </div>

    <div class="row u-m-small" style="margin-left:2%;margin-right:2%;padding: 10px;background-color: #404040;margin-bottom: 1%;box-shadow: 0 0 1em black;height">
        <div style="width:100%;">
            <font color="white" size="6">Historique Airi Stream</font>
        </div>
        {% for article in historique %}
             <div class="col-sm-6 col-md-5">
                <div class="c-project-card u-mb-medium">

                    <div class="c-project-card__content">
                        <div class="c-project-card__head" style="min-height:150px;background-image: url({{ article['5'] }});background-size: cover;background-repeat:no-repeat;">
                        </div>

                        <div class="c-project-card__meta">
                            <h4 class="c-project-card__title"><a class="nav-item" href="{{ article['0'] }}">{{ article['3'] }}  {{ article['2'] }}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}

