{% extends 'native.html.twig' %}
{% set message = message %}
{% set listanime = anime %}
{% block stylesheets %}
        {{ parent() }}
{% endblock %}

{% block body_home %}

<div class="container">
        {{ form_start(form) }}

        <div class="c-field u-mb-small">
            <label class="c-field__label" for="input1">Nom de l'image:</label> 
            {{ form_widget(form.nom, {'attr':{'class':'c-input', 'placeholder' : 'Nom de l image'}}) }}
            {{ form_errors(form.nom) }}
        </div>
        <div class="form-group">
                {{ form_row(form.image) }}
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block js %}
        {{ parent() }}
{% endblock %}